<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.springframework.spring">
  <resources>
    <resource-root path="spring-aop-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-jdbc-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-data-jpa-2.1.2.RELEASE.jar"/>
    <resource-root path="spring-data-commons-2.1.2.RELEASE.jar"/>
    <resource-root path="spring-orm-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-context-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-expression-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-tx-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-beans-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-core-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-jcl-5.1.2.RELEASE.jar"/>
    <resource-root path="spring-aspects-5.1.2.RELEASE.jar"/>
  </resources>
  <dependencies>
    <module name="org.apache.commons.logging"/>
    <module name="javax.api" export="true"/>
    <module name="org.slf4j" export="true"/>
    <module name="javax.persistence.api" export="true"/>
    <module name="org.jboss.vfs"/> 
    <module name="com.mysql"/>
    <module name="org.hibernate"/> 
  </dependencies>
</module>